---
layout: default
bodyclass: homepage
title: Home
---
<div class="day">
	<div class="articles">
{% for post in paginator.posts %}
{% comment %}
	{% capture day %}{{post.date | date: "%d"}}{% endcapture %}
	{% capture nday %}{{ post.next.date | date: '%d' }}{% endcapture %}
	{% if day != nday %}
		<hr class="daybreak" />
		</div></div>
		<div class="day"><div class="articles">
	{% endif %}
{% endcomment %}
	<article>
		<header>
			<h2>
			{% if post.link %}
			<a href="{{ post.link }}" class="post-title linked">{{ post.title }} <span class="link-arrow">&rarr;</span></a>
			{% else %}
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			{% endif %}
			</h2>
			<div class="meta">
				<span class="postDate">
					<i class="fa fa-calendar"></i> <time class="time" dateTime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
				</span>
				{% if post.tags.size > 0 %}
				<span class="tag">
					<i class="fa fa-tag"></i> 
					{% for tag in post.tags %}
					<a href="/tags/{{ tag | downcase | replace:' ','-'}}" class="tag">{{ tag | capitalize }}</a>
					{% if forloop.last %}{% else %}, {% endif %}
					{% endfor %}
				</span>
				{% endif %}
				<a class="permalink" title="Permalink to {{post.title}}" href="{{ post.url }}"><i class="fa fa-anchor"></i></a>
			</div>
		</header>
		<div class="entry">
			{{ post.content }}
		</div>
	</article>
	<hr class="daybreak" />
{% endfor %}
	</div>
</div>

<nav id="pagination">
	{% if paginator.next_page %}
		<span class="next"><a href="/page{{paginator.next_page}}">← Older</a></span>
	{% endif %}
	{% if paginator.previous_page %}
		<span class="prev"><a href="/page{{paginator.previous_page}}">Newer →</a></span>
	{% endif %}
</nav>