		<div class="content-break">
			<i class="fa fa-rocket"></i>
		</div>
		<div style="text-align:center;">
			<p>Start changing the way you build apps <a href="https://app.flybase.io/signup" class="btn btn-primary raised round">Sign up for Flybase »</a></p>
		</div>
{% if page.url == "/" %}
		<div id="archives">
		    <h4 class="widget-title">Archives</h4>
			<ul>
				<li><a href="/2016/12/">December 2016</a> &bull;</li>
				<li><a href="/2016/11/">November 2016</a> &bull;</li>
				<li><a href="/2016/10/">October 2016</a> &bull;</li>
				<li><a href="/2016/09/">September 2016</a> &bull;</li>
				<li><a href="/2016/08/">August 2016</a> &bull;</li>
				<li><a href="/2016/07/">July 2016</a> &bull;</li>
				<li><a href="/2016/06/">June 2016</a> &bull;</li>
				<li><a href="/2016/05/">May 2016</a> &bull;</li>
				<li><a href="/2016/04/">April 2016</a> &bull;</li>
				<li><a href="/2016/03/">March 2016</a> &bull;</li>
				<li><a href="/2016/02/">February 2016</a> &bull;</li>
				<li><a href="/2016/01/">January 2016</a> &bull;</li>
{% comment %}
				<li><a href="/2015/12/">December 2015</a> &bull;</li>
				<li><a href="/2015/11/">November 2015</a> &bull;</li>
				<li><a href="/2015/10/">October 2015</a> &bull;</li>
				<li><a href="/2015/09/">September 2015</a> &bull;</li>
				<li><a href="/2015/08/">August 2015</a> &bull;</li>
				<li><a href="/2015/07/">July 2015</a> &bull;</li>
				<li><a href="/2015/06/">June 2015</a> &bull;</li>
				<li><a href="/2015/05/">May 2015</a> &bull;</li>
				<li><a href="/2015/04/">April 2015</a> &bull;</li>
				<li><a href="/2015/03/">March 2015</a> &bull;</li>
				<li><a href="/2015/02/">February 2015</a> &bull;</li>
				<li><a href="/2015/01/">January 2015</a> &bull;</li>
				<li><a href="/2014/12/">December 2014</a> &bull;</li>
				<li><a href="/2014/11/">November 2014</a> &bull;</li>
				<li><a href="/2014/10/">October 2014</a></li>
{% endcomment %}
				<li><a href="/archives"><strong>View All Posts</strong></a></li>
			</ul>
			<div class="clear"> </div>
			<h4 class="widget-title">Categories</h4>
			<ul>
				<li><a href="/tags/code/">Code</a> &bull;</li>
				<li><a href="/tags/links/">Links</a> &bull;</li>
				<li><a href="/tags/reading/">Reading</a> &bull;</li>
			  	<li><a href="/tags/inside/">Inside Flybase</a> &bull;</li>
			  	<li><a href="/tags/startups/">On Startups</a> &bull;</li>
			  	<li><a href="/tags/twilio/">Twilio-Related</a> &bull;</li>
				<li><a href="/tags/"><strong>View All Categories</strong></a></li>
			</ul>
		</div>
{% endif %}
    </div>
	<div class="wrapper-footer">
		<div class="container">
			<footer class="footer">
				<div>
					<p class="text">Flybase helps you build real-time, collaborative apps in a fraction of the time with our API. Flybase lets you create fully interactive apps with just frontend code. <a href="https://flybase.io" class="red"><strong>Learn More</strong></a></p>
					<p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} - Flybase by Data McFly  (1059105 B.C. LTD)</p>
				</div>
				<div >
					<a href="https://flybase.io/contact">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a href="https://twitter.com/flybaseio" class="twitter">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a href="https://facebook.com/flybaseio" class="facebook">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a href="https://github.com/flybaseio" class="black">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-github fa-stack-1x fa-inverse"></i>
						</span>
					</a>
{% comment %}
					<a href="https://slack.flybase.io" class="red">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-slack fa-stack-1x fa-inverse"></i>
						</span>
					</a>
{% endcomment %}
					<a href="/rss" class="orange">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>
