<div class="text-center">
	<a href="/"><img src="https://blog.flybase.io/images/flybasesm.png" id="logoimg" class="center-block" /></a>
</div>
<br />
{% comment %}
<div class="well well-sm">
	<p class="text-muted">
		The <a href="http://blog.flybase.io">Flybase Blog</a> is the official online publication written by the
		founders and developers of <a href="http://flybase.io">Flybase</a> about their real-time app platform,
		related technologies, building startups, and whatever else may fit their fancy — <em>like robots</em>.
	</p>
</div>
{% endcomment %}
<section>
	<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=blogflybaseio" id="_carbonads_js"></script>
</section>
<section>
	<header class="major">
		<h2><i class="fa fa-star" aria-hidden="true"></i> Popular Posts</h2>
	</header>
	<div class="mini-posts" id="mostpopularblock"></div>
</section>
<nav id="menu">
	<ul>
		<li>
			<a data-toggle="collapse" href="#cArchives" aria-expanded="false" aria-controls="cArchives">
				<span class="opener"><i class="fa fa-calendar" aria-hidden="true"></i> Archives</span>
			</a>
			<div class="collapse" id="cArchives">
				<ul class="">
					<li><a href="/2017/01/">January 2017</a></li>
					<li><a href="/2016/12/">December 2016</a></li>
					<li><a href="/2016/11/">November 2016</a></li>
					<li><a href="/2016/10/">October 2016</a></li>
					<li><a href="/2016/09/">September 2016</a></li>
					<li><a href="/2016/08/">August 2016</a></li>
					<li><a href="/2016/07/">July 2016</a></li>
					<li><a href="/2016/06/">June 2016</a></li>
					<li><a href="/2016/05/">May 2016</a></li>
					<li><a href="/2016/04/">April 2016</a></li>
					<li><a href="/2016/03/">March 2016</a></li>
					<li><a href="/2016/02/">February 2016</a></li>
					<li><a href="/2016/01/">January 2016</a></li>
					<li><a href="/archives"><strong>View All Posts</strong></a></li>
				</ul>
			</div>
		</li>
		<li>
			<a data-toggle="collapse" href="#cCats" aria-expanded="false" aria-controls="cCats">
				<span class="opener"><i class="fa fa-folder" aria-hidden="true"></i> Categories</span>
			</a>
			<div class="collapse" id="cCats">
				<ul class="">
					<li><a href="/tags/code/">Code</a></li>
					<li><a href="/tags/links/">Links</a></li>
					<li><a href="/tags/reading/">Reading</a></li>
				  	<li><a href="/tags/inside/">Inside Flybase</a></li>
				  	<li><a href="/tags/startups/">On Startups</a></li>
				  	<li><a href="/tags/twilio/">Twilio-Related</a></li>
					<li><a href="/tags/"><strong>View All Categories</strong></a></li>
				</ul>
			</div>
		</li>
	</ul>
</nav>
<div class="well well-sm">
	<p class="text text-muted">Flybase helps you build real-time, collaborative apps in a fraction of the time with our API. Flybase lets you create fully interactive apps with just frontend code. <a href="https://flybase.io" class="red">Learn More</a></p>
</div>
<section class="text-center center-block lastone">
	<a href="https://flybase.io/contact">
		<span class="fa-stack">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a href="https://twitter.com/flybaseio" class="twitter">
		<span class="fa-stack">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a href="https://facebook.com/flybaseio" class="facebook">
		<span class="fa-stack">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a href="https://github.com/flybaseio" class="black">
		<span class="fa-stack">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-github fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a href="/rss" class="orange">
		<span class="fa-stack">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
		</span>
	</a>
</section>
<br /><br /><br />
