<aside class="col-sm-3 col-md-3 sidebar hidden-md hidden-sm hidden-xs">
	<div class="text-center">
		<img src="https://blog.flybase.io/images/flybasesm.png" style="width:150px; height: auto;" class="center-block" />
	</div>
	<br />
	<div class="well well-sm">
		<p class="text-muted">
			The <a href="http://blog.flybase.io">Flybase Blog</a> is the official online publication written by the
			founders and developers of <a href="http://flybase.io">Flybase</a> about their real-time app platform,
			related technologies, building startups, and whatever else may fit their fancy — <em>like robots</em>.
		</p>
	</div>
	<br />
	<section class="center-block">
		<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=blogflybaseio" id="_carbonads_js"></script>
	</section>
	<br />
	<ul class="nav nav-sidebar">
		<li><a href="/popular">Most Popular Posts</a></li>
		<li><a href="/archives">Archives</a></li>
		<li><a href="/tags/">Posts By Categories</a></li>
		<li><a href="https://flybase.io/" target="_blank" class="btn btn-primary btn-sm">Learn About Flybase</a></li>
	</ul>
</aside>
