<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<meta charset="utf-8" />
	    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

		<!-- css -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
{% comment %}
		<link rel="stylesheet" type="text/css" href="/assets/css/datamcfly.css?v={{ site.time | date: '%s' }}">
{% endcomment %}
		<!--[if lte IE 8]><script src="/assets/v2/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/v2/css/main.css?v={{ site.time | date: '%s' }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/v2/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/v2/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" href="/assets/css/bigfoot-default.css"/>
		<link rel="stylesheet" href="/assets/css/prism.css">

{% comment %}
	<!-- hightlight-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<link rel="stylesheet" href="/assets/css/zenburn.css?v=1.c.1" />
{% endcomment %}

		<link rel="icon" type="image/png" href="https://blog.flybase.io/images/favicon.ico">
		<link rel="apple-touch-icon" href="https://blog.flybase.io/images/favicon.ico"/>

		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }} with link posts pointed to {{ site.title }}" href="/rss-alternate" />
		{% seo %}
		<script src="//load.sumome.com/" data-sumo-site-id="387251f3b10d8c30b11dadea392b440e83342bd9a812326547d494290355f13e" async="async"></script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><i class="fa fa-rocket"></i> <strong>The Flybase</strong> Blog</a>
									<ul class="icons">
										<li><a href="https://twitter.com/flybaseio" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://facebook.com/flybaseio" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="https://github.com/flybaseio" class="icon fa-github"><span class="label">Github</span></a></li>
										<li><a href="http://m.flybase.io" class="icon fa-medium"><span class="label">Medium</span></a></li>
									</ul>
								</header>
