@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	background: #fff; /*f5f6f7;*/
	font: 18px/1.4 Helvetica, Arial, sans-serif;
	color: #333;
}

body:after {
	content: 'desktop';
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: -1;
	pointer-events: none;
}
@media (max-width:991px) {
	body: after {
		content: 'tablet'
    }
}
@media (max-width:600px) {
	body: after {
		content: 'mobile'
	}
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}
@media screen and (max-width: 640px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #666;
}

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
}

p {
  margin: 15px 0;
}

a {
  color: #4183C4;
  text-decoration: none;
  cursor: pointer;
}
.linkarrow {
	color: #aaa;
}

a:hover, a:active {
  color: #4183C4;
}


.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
	border: 0;
}
.navbar-default {
  background: none;
  border: 0px;
  border-bottom: 1px #000 solid;
  border-radius: 0px;
}
.navbar-default a.btn-primary {
	color: #fff !important;
	padding: 7px;
}
.navbar-default a.btn-primary:hover {
	color: #777 !important;
}
/*
.sidebar {
	display: none;
}
*/
.sidebar h3, .sidebar h4{
	color: #000 !important;
}
.sidebar {
/*
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
*/
	padding: 20px;
	font-size:12px !important;
/*
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f6f7;
	border-right: 1px solid #ddd;
	height:100% !important;
	min-height:100% !important;
*/
}
.sidebar p{
	font-size: 12px !important;
}
.sidebar h2 {
  font-size: 20px !important;
}

.sidebar > section, .sidebar > nav {
    border-bottom: solid 2px rgba(210, 215, 217, 0.75);
    margin: 0 0 2.5em 0;
    padding: 0 0 2.5em 0;
}

section.lastone{
	border-bottom: 0px;
}

section.social a {
	font-size: 18px !important;
	padding: 5px;
}


/*
.sidebar ul a, .sidebar ul p{
    border-bottom: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    padding: 0.625em 0;
}
.sidebar > ul > li > ul a{
    font-size: 0.8em;
}
*/
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}
.main {
	background: #fff;
	padding: 20px;
/*
	border-left: 1px solid #ddd;
	height: 100%;
	min-height: 100%;
	padding-bottom: 100%;
*/
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}
ul.inline > li, ol.inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

#carbonads{display:block;background:#fdfdfd;background-image:-moz-linear-gradient(top,#f8f8f8,#fdfdfd);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f8f8f8),color-stop(1,#fdfdfd));border:1px solid #d5d5d5;font-family:Lucida Grande,Arial,Helvetica,sans-serif;font-size:11px;line-height:15px;overflow:hidden;width:100%;padding:5px;}
#carbonads span {overflow: hidden;}
.carbon-wrap{}
.carbon-img{border:none;display:block;float:left;height:100px;margin:5px;width:130px;}
.carbon-text{display:block;float:left;width:122px;padding-top:13px;color:#000;}
.carbon-text a{color:#000;text-decoration:none;text-transform:none;}
.carbon-poweredby{float:right;margin-top:17px;text-align:center;width:122px;color:#999;}
.carbon-poweredby a{color:#999;text-decoration:none;}

/*
#carbonads { display: block; background: #fff; border: 0px; margin-top: 1em; font-size: 12px; line-height: 1.5; }
.carbon-wrap{}
#carbonads>span { padding: 1em; max-width: 60%; border: solid 1px #eddede; border-radius: 3px; background-color: #fbf9f9; margin-left: auto; margin-right: auto;}
#carbonads span { display: block; overflow: hidden; }
.carbon-img { display: block; margin: 0 auto 1em; text-align: center; }
.carbon-text { display: block; margin-bottom: 1em; text-align: left; }
.carbon-poweredby { display: block; color: #333333 !important; text-align: right; font-size: 10px; }
*/

/*
#carbonads { display: block;overflow: hidden;padding: 1em;padding-bottom: 0.3em;font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;line-height: 1.5;border: 4px solid #f5f5f5;margin-bottom: 5px;}
#carbonads span { display: block; overflow: hidden; }
.carbon-text {display: block;text-align: left;margin-bottom: 1em; color: #666;}
.carbon-img {display: block;margin: 0 auto 1em;margin-left: 25px;}
.carbon-poweredby {display: block;text-align: right;font-size: .7em;color: #ccc;}
*/

/* Advert Styling */
/*
#carbonads {display: block;overflow: hidden;padding: 1em;border: solid 1px #81b062;font-size: 1.02em;line-height: 1.5;}
#carbonads span {display: block;overflow: hidden;}
.carbon-text {display: block;float: left;max-width: 45%;text-align: left;}
.carbon-img {float: left;margin-right: 5px;}
.carbon-poweredby {display: block;float: right;margin-top: -1.9em;font-size: .9em;}
.carbon-img {float: left;}
.carbon-poweredby {float: right;text-align: right;width: 100%;font-size: 70%;}
.textwidget {clear: both;}
*/
.post-sharing{
	text-align: left;
}
.post-sharing, .post-sharing:before {
	color: #CF3621;
	/*#666666;*/ /*#999691;*/
	/*#bebcb9; // #D2D4E7*/
	font-size: 100%;
	line-height: 18px;
    font-family: 'Whitney SSm SmallCaps A','Whitney SSm SmallCaps B',Avenir Next,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 400;
    font-style: normal;
}
.fb-like {
	width: 90px;
}
.fb-like>span[style] {
	vertical-align: top!important;
}
.post-sharing {
	margin-bottom: 1px;
}
.post-sharing:before {
	content: 'Share:';
	display: inline;
	margin-bottom: 4.5px;
}
.post-sharing a {
	position: relative;
	top: -2px;
	display: inline-block;
	width: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 6px 0 4px;
	border-radius: 2px;
	color: #666666; /*	#bebcb9;	*/
	font-size: 100%;
	text-align: center;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
	vertical-align: middle;
}
.post-sharing a:hover {
	color: #0a58cc;
}

.post-sharing a.twitter:hover {
	color: #55ACEE;
}

.post-sharing a.facebook:hover {
	color: #3B5998;
}

.post-sharing a.orange:hover {
	color: orange;
}

.float-left{
	float:left;
}
.float-right{
	float:right;
}

img {
  max-width: 100%;
  height: auto;
}

.box-wrap{
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.box-wrap .box {
    padding: 20px;
}
.box-wrap .box img {
	margin: 0 auto;
	width: 90%;
}

/*
.box-wrap {
    padding: 4px;
    border: 1px solid #807373;
    background: #e5dcdc;
    text-align: center;
    border-radius: 3.125px;
    max-width: 100%;
}
article img {
    border: 1px solid #4f3f3f;
    display: block;
	width: 100%;
    max-width: 100%;
    height: auto;
}
*/
/*
.box-wrap {
  background-color: #141a1f;
  z-index: 0;
  width: 80%;
  position: relative;
  border-radius: 8px;
  border: solid 1px #000;
}
@media (max-width: 991px) {
  .box-wrap {
    margin-top: 35px;
  }
}

.box-wrap .box {
	display: block;
	position: relative;
	border-radius: inherit;
	-webkit-box-shadow: inset 0 10px 23px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0 10px 23px rgba(0, 0, 0, 0.75);
}
.box-wrap .box span {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	color: #c1c1c1;
	font-family: 'nimbus-sans-extended', "nimbus-sans", Helvetica, Arial, sans-serif;
	font-size: 24px;
	border-radius: 0 0 8px 8px;
	padding: 5px 0;
}
.box-wrap .box img {
	border-radius: inherit;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
	position: relative;
	width: 100%;
	height: auto;
	z-index: -1;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
*/
/*
.box-wrap .box img {
	border-radius: inherit;
	-webkit-filter: grayscale(0.5);
	filter: grayscale(0.5);
	opacity: 0.75;
	position: relative;
	width: 100%;
	height: auto;
	z-index: -1;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.box-wrap .box:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
}
*/

/* Link posts */
a.linked{
/*
	font-size: 1.25em;
*/
}

a.linked,
a.linked:active,
a.linked:visited {
    color: #b5190e;
    text-decoration: underline;
}

.clear {
	clear: both;
}


#archives {
    color: #5a6b77;
	background-color: #f5f5f5;
/*
	border: 1px solid #e3e3e3;
*/
    border-radius: 5px;
    border: 1px solid rgba(176, 184, 191, 0.3);
    border-bottom-color: rgba(176, 184, 191, 0.7);
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 10px;
    margin-top: 33px;
    margin-bottom: 40px;
}
#archives h4 {
    margin: 0px;
    color: #5a6b77;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}
#archives ul, #archives li {
	list-style: none;
}
#archives li {
    float: left;
    margin-right: 10px;
}
#archives li a {
    font-size: 14px;
    text-decoration: none;
    color: #5a6b77;
    line-height: 22px;
}
#archives li a:hover {
    color: #5298fc;
}

#popular {
    float: left;
    clear: both;
    margin: 0 0 30px;
    background: #fff;
    width: 80%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #ddd;
    font-size: 81%;
    width: 96%;
    max-width: 817px;
}
#popular header {
    background: #f3f3f3;
    border-bottom: 1px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 0px 0px 10px;
    cursor: s-resize;
}
#popular header h1 {
    font-size: 1em;
    color: #666;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    padding-bottom: 6px;
    margin: 0;
}
#popular header.loading span {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 100;
    color: #bbb;
}
#popular header.loaded {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: default;
}
#popular ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    color: #007892;
}
#popular ul li {
    float: left;
    width: 49%
}
#popular ul li a {
    display: block;
    margin: 0;
    padding: 2px;
    width: 91%;
	color: #0689a6;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}
@media only screen and (max-width: 790px) {
    #popular ul li {
	    float: none;
	    width: 100%
    }
}

.content-break {
	border-bottom: 1px solid #bebcb9;
	position: relative;
	margin-bottom: 30px;
	padding-top: 30px;
/*
	height: 1px;
	margin: 20px 0 20px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.7), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.7), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.7), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.7), rgba(0,0,0,0));
	border: 0;
*/
}

.content-break i {
	border-radius: 100px;
	background: #fff;
	text-align: center;
	line-height: 15px;
	width: 20px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	z-index: 1;
	color: #bebcb9;
}

#disqus_thread {
	margin: 15px auto;
	font-size: 14px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 6px;
	border: 1px solid #ccc;
	border-top: 2px solid #ccc;
	border-bottom-color: rgba(176, 184, 191, 0.7);
	padding-top: 7px;
	margin-bottom: 15px;
	background: #eee;
	border-radius: 15px;
/*
	border-radius: 5px;
	border: 1px solid rgba(176, 184, 191, 0.3);
	border-bottom-color: rgba(176, 184, 191, 0.7);
	padding: 20px;
	background: white;
*/
}

hr.fancy-line {
	border: 0;
	height: 1px;
	position: relative;
	margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
	top: -0.5em;
	height: 1em;
}
hr.fancy-line:after {
	content:'';
	height: 0.5em;   /* half the height of :before */
	top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
	content: '';
	position: absolute;
	width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
	background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line:after {
	background: #fff;
}

nav#pagination {
	padding: 20px 40px 40px 0;
	clear: both;
	max-width: 780px;
}

nav#pagination span {
	display: block;
}
nav#pagination span.next {
	float: left;
}
nav#pagination span.prev {
	float: right;
}

nav#pagination span.next a, nav#pagination span.prev a {
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-family: "OswaldBook", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid #666;
	color: #666;
	text-decoration: none;
}

#tags {
	padding: 12px 10px;
	margin-bottom: 5px;
	font-size: 14px;
}

#tags .tag, #taggedIn .tag {
	margin: 0.2em;
	display: inline-block;
}

.meta {
	font-style: italic;
	color: #666;
	margin-bottom: 10px;
/*
	font-family: 'Merriweather', serif;
	font-variant: small-caps;
	text-transform: lowercase;
	text-rendering: auto;
	text-align: left;
	font-weight: 400;
	letter-spacing: 1px;
	font-style: italic;
	margin-bottom: 10px;
*/
}
/*
.meta .tag {
	font-variant: normal;
	text-transform: none;
	font-style: normal;
	letter-spacing: normal;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/
.meta .tag{
	padding-left: 10px;
	padding-right: 10px;
}
a.permalink{
    color: #b5190e !important;
    font-weight: 900 !important;
}

.meta a.permalink{
	padding-left: 10px;
	padding-right: 10px;
}

.time{
	font-family: "PT mono", Courier, Monaco, monospace;
	color: #888;
	padding-right: 10px;
}

.tag a {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	background-color: rgba(238, 238, 238, 0.25);
	border: 1px solid #ddd;
	color: #333;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	text-decoration: none;
}
.tag a:hover {
	color: #dd1c18;
	text-decoration: none;
}

.dateline {
	font-family: "PT mono", Courier, Monaco, monospace;
}
.dateline, .byline {
	font-size: 12px;
	margin-bottom: 0.25em;
	color: #666;
	font-weight: bold;
}
p.byline {
	font-weight: bold;
	color: #666;
}
.byline {
	margin-bottom: 1em;
}

#main .post header{
	text-align: left;
    margin-bottom: 15px;
}
#main .post header h1,#main .post header h2{
    margin-bottom: 5px;
}

#main .post header .postDate{
    font-size: 0.9em;
    margin-bottom: 5px;
}


PageNavigation {
	font-size: 14px;
	display: block;
	width: auto;
	overflow: hidden;
}

.PageNavigation a {
	display: block;
	width: 50%;
	float: left;
	margin: 1em 0;
}

.PageNavigation .next {
	text-align: right;
}
.meta-nav {
    color: #CF3621;
}

.nav-links {
    margin: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    font-family: 'Whitney SSm SmallCaps A','Whitney SSm SmallCaps B',Avenir Next,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
}

.nav-links a{
    color: #333 !important;
    text-decoration: none;
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 2px !important;
}

p.text{
	font-size:12px;
}
p.copyright{
	font-size: 12px;
}

.twitter{
	color: #55ACEE;
}
.facebook{
	color: #3B5998;
}
.red{
	color: #b5190e;
}
.black{
	color: black;
}
.orange{
	color: orange;
}


/* Mini Posts */
.mini-posts article {
	border-top: solid 1px rgba(210, 215, 217, 0.75);
	margin-top: 1em;
	padding-top: 1em;
}
.mini-posts article .image {
	display: block;
	margin: 0 0 1.5em 0;
}
.mini-posts article .image img {
	display: block;
	width: 100%;
}

.mini-posts article p{
	margin: 0 0 0.5em 0 !important;
	color: #000 !important;
}
.mini-posts article p a{
	color: #000 !important;
}

.mini-posts article:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}


header p {
	font-family: "Roboto Slab", serif;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.075em;
	margin-top: -0.5em;
	text-transform: uppercase;
}

header.major > :last-child {
	border-bottom: solid 0px #f56a6a;
	display: inline-block;
	margin: 0 0 1em 0;
	padding: 0 0.75em 0.5em 0;
}

header.main > :last-child {
	margin: 0 0 1em 0;
}

header.major h2{
	color: #3d4449;
	font-family: "Roboto Slab", serif;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 1em 0;
}

/* Menu */

	#menu ul {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: #3d4449;
		font-family: "Roboto Slab", serif;
		font-family: 400;
		letter-spacing: 0.075em;
		list-style: none;
		margin-bottom: 0;
		padding: 0;
		text-transform: uppercase;
	}

		#menu ul a, #menu ul span {
			border-bottom: 0;
			color: inherit;
			cursor: pointer;
			display: block;
			font-size: 0.9em;
			padding: 0.625em 0;
		}

			#menu ul a:hover, #menu ul span:hover {
				color: #f56a6a;
			}

			#menu ul a.opener, #menu ul span.opener {
				-moz-transition: color 0.2s ease-in-out;
				-webkit-transition: color 0.2s ease-in-out;
				-ms-transition: color 0.2s ease-in-out;
				transition: color 0.2s ease-in-out;
				text-decoration: none;
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				position: relative;
				font-size: 15px;
				font-weight: bolder;
			}

				#menu ul a.opener:before, #menu ul span.opener:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#menu ul a.opener:before, #menu ul span.opener:before {
					-moz-transition: color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
					transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
					color: #9fa3a6;
					content: '\f078';
					position: absolute;
					right: 0;
				}

				#menu ul a.opener:hover:before, #menu ul span.opener:hover:before {
					color: #f56a6a;
				}

				#menu ul a.opener.active + ul, #menu ul span.opener.active + ul {
					display: block;
				}

				#menu ul a.opener.active:before, #menu ul span.opener.active:before {
					-moz-transform: rotate(-180deg);
					-webkit-transform: rotate(-180deg);
					-ms-transform: rotate(-180deg);
					transform: rotate(-180deg);
				}

	#menu > ul > li {
		border-top: solid 1px rgba(210, 215, 217, 0.75);
		margin: 0.5em 0 0 0;
		padding: 0.5em 0 0 0;
	}

		#menu > ul > li > ul {
			color: #9fa3a6;
			display: none;
			margin: 0.5em 0 1.5em 0;
			padding-left: 1em;
		}

			#menu > ul > li > ul a, #menu > ul > li > ul span {
				font-size: 0.8em;
			}

			#menu > ul > li > ul > li {
				margin: 0.125em 0 0 0;
				padding: 0.125em 0 0 0;
			}

		#menu > ul > li:first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}


		.daybreak{
			margin-top: 4px;
			border: 0;
			color: rgb(228, 228, 228);
			background-color: rgb(228, 228, 228);
			height: 0.15em;
		}

.homepage .day .daybreak{
    margin-top: 2px;
    border: 0;
    color: rgb(228, 228, 228);
	background-color: rgb(228, 228, 228);
	height: 0.15em;
}

.homepage .day .article
{
    margin-bottom: 5px;
}

.homepage .article hr
{
    width: 75%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.homepage .article th
{
    padding: 0 0.5em 0 0.5em
}

.homepage .article td
{
    padding: 0 0.5em 0 0.5em;
}

#logoimg{
	width:125px;
	height: auto;
}

.main > .container {
	width: 90%;
}


.post-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}


/* ======= Footer ======= */
.footer {
  background: #253340;
  color: #fff;
  padding-top: 20px;
  font-size: 12px;
  position: relative;
  z-index: 20;
}
.footer p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .btn-cta,
.footer a.btn-cta {
  padding: 9px 10px;
}
.footer .footer-col.links .fa {
  margin-right: 5px;
}
.footer .footer-col.links li {
  margin-bottom: 10px;
}
.footer .footer-col.connect .social {
  margin-bottom: 15px;
  overflow: hidden;
}
.footer .footer-col.connect .social li {
  margin-right: 10px;
}
.footer .footer-col.connect .social li a .fa {
  color: #b3b3b3;
  font-size: 22px;
}
.footer .footer-col.connect .social li a:hover .fa {
  color: #497cb1;
}
.footer .footer-col.connect .btn-cta-primary {
  background: #5d80a1;
  border-color: #5d80a1;
}
.footer .footer-col.connect .btn-cta-primary:hover {
  background: #4a6781;
  border-color: #4a6781;
}
.footer .footer-col .title {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col p {
  color: #fff;
}
.footer .footer-col a {
  color: #6d8dab;
}
.footer .footer-col a:hover {
  color: #8da6bd;
}
.footer .footer-col .navbar-form {
  padding-left: 0;
  padding-right: 0;
}
.footer .footer-col .navbar-form .form-control {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col .navbar-form .form-control:focus {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .has-divider {
  border-top: 1px solid #2b3b4a;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .download .download-list li {
  margin-bottom: 15px;
}
.footer .download .download-list li .btn-ghost {
  text-align: left;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  width: 230px;
}
.footer .download .download-list li .btn-ghost:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .contact p a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact .fa {
  margin-right: 10px;
  font-size: 20px;
}
.footer .contact .email .fa {
  font-size: 16px;
}
.footer .bottom-bar {
  background: #1e1e1e;
  color: #b3b3b3;
  font-size: 14px;
  padding: 10px 0;
}
.footer .bottom-bar .copyright {
  line-height: 1.6;
}

#blog-archives h2 {
    color: #666;
    font-size: 1.3em;
    font-weight: 300;
}

#blog-archives article {
    margin: 0 0 10px;
    position: relative;
}

#blog-archives article time {
    display: block;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    font-size: .8em;
    left: 0;
    margin: 3px 1em 0;
    position: absolute;
    width: 80px;
}

#blog-archives article time span.month, #blog-archives article time span.day {
    font-size: 100%;
    line-height: 1.9em;
}
#blog-archives article time span {
    vertical-align: super;
    font-size: .6em;
    line-height: 0;
}

#blog-archives article a,
#blog-archives article h4 {
    display: block;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 4px;
    margin-left: 85px;
}
