---
layout: default
---
<article>
	<header>
		<h2>
		{% if page.link %}
		<a href="{{ page.link }}" class="post-title linked">{{ page.title }} <span class="link-arrow">&rarr;</span></a>
		{% else %}
		<a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
		{% endif %}
		</h2>
		<div class="meta">
			<span class="postDate">
				<i class="fa fa-calendar"></i> <time class="time" dateTime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
			</span>
			{% if page.tags.size > 0 %}
			<span class="tag">
				<i class="fa fa-tag"></i> 
				{% for tag in page.tags %}
				<a href="/tags/{{ tag | downcase | replace:' ','-'}}" class="tag">{{ tag | capitalize }}</a>
				{% if forloop.last %}{% else %}, {% endif %}
				{% endfor %}
			</span>
			{% endif %}
			<a class="permalink" title="Permalink to {{page.title}}" href="{{ page.url }}"><i class="fa fa-anchor"></i></a>
		</div>
	</header>
	<div class="entry">
		{{ content }}
		<br />
		<div class="nav-links">
{% if page.previous.url %}
			<div class="nav-previous">
				<span class="meta-nav">Previously:</span>
				<a href="{{page.previous.url}}" rel="prev"> {{page.previous.title}}</a>
			</div>
{% endif %}
{% if page.next.url %}
			<div class="nav-next">
				<span class="meta-nav">Next:</span> 
				<a href="{{page.next.url}}" rel="next">{{page.next.title}} </a>
			</div>
{% endif %}
		</div>
{% comment %}
		{% assign hasSimilar = '' %}
		{% for post in site.related_posts %}
			{% assign postHasSimilar = false %}
			{% for tag in page.tags %}
				{% for thisTag in page.tags %}
					{% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
						{% if hasSimilar.size == 0 %}
							<div class="well leadbox related">
							<h4>Related Posts</h4>
							<ul class="related-posts">
						{% endif %}
						<li class="relatedPost">
						    <a href="{{ post.url }}">{{ post.title }}
						    {% if post.series %}
						        (Series: {{ post.series }})
						    {% endif %}
						    </a>
						</li>
						{% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
						{% assign postHasSimilar = true %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endfor %}
		{% if hasSimilar.size > 0 %}
				</ul>
			</div>
		{% endif %}
{% endcomment %}
	</div>
	{% include postfooter.html %}
</article>